<!doctype html>
<html>

<head>
  <title>Webpack Package</title>
</head>

<body>
  <div class="jumbotron">
    <h1 class="display-4">RSS Reader</h1>
    <p class="lead">This is project in Hexlet course.</p>
    <hr class="my-4">
    <form class="form" id="form-input">
      <h3 class="display-12">Write RSS feed address:</h3>
      <div>
        <input type="text" class="form-control" id="rsslink">
      </div>
      <div id="info"></div>
      <br>
      <div>
        <button type="submit" class="btn btn-primary btn-lg" id="button" disabled="disabled">SEND</button>
      </div>
    </form>
    <br>
    <h3 class="display-12">Feeds:</h3>
    <div id="feeds"></div>
    <br>
    <h3 class="display-12">Articles:</h3>
    <div id="articles"></div>
  </div>
</body>

</html>